<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Where is it?</title>
</head>

<body>
  
  <div class="container">
    <div class="benvenuto" style="display:flex; align-items: center">
      <h1 >Well Done! Clicca qui per tornare alla pagina di <span><a href="/" >Login</a></span></h1>
      
    </div>
  </div>
  
  

</body>

</html>