<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Where is it?</title>
</head>

<body>
  
  <div class="container">
    <div class="benvenuto" style="display:flex; align-items: center">
      <h1 >Hai quasi finito! Scegli un nickname e una password:</h1>
    </div>
    
  
    <form action="/inserted_newAcc" id="form" class="form benvenuto" method="POST">
      <div class="logged_player">
        <label for="nickname"><h2>Nickname:</h2></label>
        <input type="text" id="nickname" name="nickname" class="field" style="font-size: x-large;"><br><br>
        <label for="password"><h2>Password:</h2></label>
        <input type="text" id="password" name="password" class="field" style="font-size: x-large;"><br><br>
        <input type="submit" value="Submit" class="province_button" name="logIn_button">
      </div>
    </form>
       
    
  </div>
  
  

</body>

</html>