<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Where is it?</title>
</head>

<body>
    <div className="container_game">
    
          
    </div>
    
    <div className="center">
      <h1 style="text-align: center;">{message}</h1>
  
      <section id="cards" className="cards">
        if (town_to_guess)
          <article className="card-item">
            <span>
                <h2>{town_to_guess}</h2>
                
              </span>
            
          </article>
  
          
            else 
              <div id="tag-error" className="tag-error">
                errore nella richiesta Api
              </div>
            
      </section>
    </div>
  
    <div className="container_buttons">
      <form action="/submit" method="POST">
        <%if (locals.provinces){%>
          <% for (let i = 0; i<provinces.length; i++){%>
            <button className="province_button button-go submit-prov" name="button" value=
            "<%=provinces[i]%>"
              ><h3>
              <%=provinces[i]%>
            </h3>
            </button>
        <%}}%>
      </form>
    </div>

    
  
  </body>
  
  </html>