<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Where is it?</title>
</head>

<body>
    <div class="container_game">
    
      <form action="/newgame" id="form" class="form_game" method="POST">
        <select name="provinces" class="form-select-game">
          <option value="">Choose the difficulty level:</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <button type="submit" class="form-submit button-go">Go</button>
      </form>
      <form action="/logout" method="GET" class="form_game">
        <button  type="submit" class="form-submit button-go" style="max-width: 100px; max-height: 40px; vertical-align:middle;">Logout</button>
      </form>

      

      
    </div>
    
    
      <h1 style="text-align: center;"><%= locals.message%>
        </h1>
        <div class="play_again">
          <div>
            <form action="/play_again" method="POST" class="form_game" style="grid-column-start: 2;">
              <button  type="submit" class="form-submit button-go" style="max-width: 100px; max-height: 40px; vertical-align:middle;">Yes</button>
            </form>
          </div>
          <div>
            <form action="/logout" method="GET" class="form_game" style="grid-column-start: 3;">
              <button  type="submit" class="form-submit button-go" style="max-width: 100px; max-height: 40px; vertical-align:middle;">Logout</button>
            </form>
        </div>

        </div>
        
  
      

    <div style="margin-left: 20px;">
      <h2><%=locals.guestName%></h2>
      <h2> Score:<%=locals.score%></h2>
      <h2>Record:<%=locals.record%></h2>
    </div>
  
  </body>
  
  </html>