<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Where is it?</title>
</head>

<body>
  
  <div class="container">
    <form action="/create_account" id="form" class="form benvenuto" method="POST">
      <div class="create_account">
        <h1><%=locals.riprova%></h1>
        <button type="submit" class="province_button" name="createAccount_button">Riprova</button>  
      </div>

    </form>
  </div>
  
  

</body>

</html>